<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Proyecto IPC2 Final</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'core/assets/css/main.css' %}"/>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="base.html" class="logo"><strong>Proyecto Final IPC2</strong> Django y Flask</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

								{% block contenido%}

								{% endblock contenido%}
						</div>
					</div>


				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Buscar" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="{% url 'home' %}">Inicio</a></li>
										
										<li>
											<span class="opener">App</span>
											<ul>
												<li><a href="{% url 'carga' %}">Cargar archivo</a></li>
											</ul>
											
										</li>

										
												<li><a href="{% url 'grfce' %}">Grafica FCE</a></li>

												<li><a href="{% url 'ayuda' %}">Ensayo</a></li>

												
											
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Informacion Alumno</h2>
									</header>
									<p>Estudiante de Ingenieria.FIUSAC</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">2306919780101@ingenieria.usac.edu.gt</a></li>
										<li class="icon solid fa-phone">(502) 4465-8966</li>
										<li class="icon solid fa-home">FIUSAC - USAC - GUATEMALA<br /></li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'core/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'core/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'core/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'core/assets/js/util.js' %}"></script>
			<script src="{% static 'core/assets/js/main.js' %}"></script>

	</body>
</html>